@using MyCRM.ViewModels;
@model NewsViewModel
@{
    ViewData["Title"] = "Главная";
}
<section class="content">
    <div class="container-fluid">
        <h1 class="display-4" style="text-align: center">Новости</h1>
        <div class="card">
            <div class="card-body">
                <div style="margin-bottom: 25px">
                    <a type="submit" class="btn btn-primary toRight" asp-action="FormCreate">Создать</a>
                </div>
                <div class="card-body">
                    @if (Model.News.Count>0)
                    {
                        foreach(var newsitem in Model.News)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <p style="font-size: 2rem;">@newsitem.Name</p>
                                    <p>@newsitem.Description</p>
                                    <p>Автор: <a asp-controller="MyUser" asp-action="Watch" asp-route-id="@newsitem.Author.Id">@newsitem.Author.GetShortName()</a></p>
                                </div>
                            </div>
                            <br>
                        }
                    }
                    else
                    {
                        <div class="card" style="margin: 25px">
                            <h5 class="display-4">Нет новостей</h5>
                        </div>
                    }
                </div>
                <div class="align-right">

                    <div class="pagination" style="margin-top: 25px">
                        <a asp-controller="News" asp-action="Index" asp-route-page="1">&laquo;</a>
                        @for (int i = Model.PaginationFilter.page - 2; i <= Model.PaginationFilter.page + 2; i++)
                        {
                            if (i > 0 && i <= Model.PaginationFilter.PageCount)
                            {
                                if (i != Model.PaginationFilter.page)
                                {
                                    <a asp-controller="News" asp-action="Index" asp-route-page="@(i)">@(i)</a>
                                }
                                else
                                {
                                    <a class="active">@(i)</a>
                                }
                            }
                        }
                        <a asp-controller="News" asp-action="Index" asp-route-page="@Model.PaginationFilter.PageCount">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .align-right {
        text-align: right;
        border: 0;
    }
</style>