@using MyCRM.ViewModels;
@model IEnumerable<TaskState>
@{
    ViewData["Title"] = "Статусы";
    string error = ViewData["error"]?.ToString();
}

<link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
<script src="~/plugins/toastr/toastr.min.js"></script>


<section class="content">
    <div class="container-fluid">
        <h1 class="display-4" style="text-align: center">Статусы</h1>
        <div class="card">
            <div class="card-body">
                <div style="margin-bottom: 25px">
                    @if (User.IsInRole("Admin") || User.IsInRole("AddTaskStatus"))
                    {
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create" id="CreateModal">
                            Создать
                        </button>
                    }
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover m-0">
                        <thead style="position: sticky; top:-1px; z-index:500;">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Название</th>
                                <th scope="col">По умолчанию</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@item.Id</th>
                                        <td class="text-white"><a asp-action="Watch" asp-route-id="@item.Id">@item.Name</a></td>
                                        <td>@item.isDefault</td>
                                        <td>
                                            <div style="display: flex;">
                                                <button type="button" style="margin-right: 25px;" @(User.IsInRole("Admin") || User.IsInRole("EditTaskStatus")? "": "disabled") class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-edit" id="EditModal" onclick="setDataToEditModal('@item.Id','@item.Name','@item.isDefault.ToString().ToLower()')">
                                                    Редактировать
                                                </button>

                                                <button type="button" class="btn btn-outline-danger" @(User.IsInRole("Admin") || User.IsInRole("DeleteTaskStatus")? "": "disabled") data-toggle="modal" data-target="#modal-delete-@item.Id" id="DeleteModal">
                                                    Удалить
                                                </button>

                                                <div class="modal fade" id="modal-delete-@item.Id" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Удаление статуса</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="text" hidden id="deleteItemId">
                                                                Вы уверены что хотите удалить эту запись?
                                                            </div>
                                                            <div class="modal-footer justify-content-between">
                                                                <button type="button" class="btn btn-success" data-dismiss="modal">Отмена</button>
                                                                <a type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Уверен</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="Edit">
                <div class="modal-header">
                    <h4 class="modal-title">Редактирование статуса</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden class="form-control" id="editId" name="Id" value="">
                    <input type="text" hidden class="form-control" id="isDefault" name="isDefault" value="">
                    <div class="form-group">
                        <label for="editName">Наименование</label>
                        <input type="text" class="form-control" id="editName" name="Name" value="">
                    </div>
                    <div class="form-group">
                        <span style="margin-right: 40px;">Установить по умолчанию:</span>
                        <input class="form-check-input" type="checkbox" id="isDefCheckbox" value="" onchange="setDefaultToEditModal($('#isDefCheckbox').is(':checked'))" />
                        <br/>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-create" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="Add">
                <div class="modal-header">
                    <h4 class="modal-title">Создание статуса</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden class="form-control" id="isDefault1" name="isDefault" value="">
                    <div class="form-group">
                        <label for="editName">Наименование</label>
                        <input type="text" class="form-control" id="editName" name="Name" value="">
                    </div>
                    <div class="form-group">
                        <span style="margin-right: 40px;">Установить по умолчанию:</span>
                        <input class="form-check-input" type="checkbox" id="createIsDefChb" value="" onchange="setDefaultToCreateModal($('#createIsDefChb').is(':checked'))" />
                        <br/>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function setDataToEditModal(id, name, isDefault) {
        $('#editId').val(id);
        $('#editName').val(name);
        $('#isDefault').val(isDefault);
        if (isDefault == 'true')
        {
            $('#isDefCheckbox').prop('checked', true);
        }
        else
        {
            $('#isDefCheckbox').prop('checked', false);
        }
    }

    function setDefaultToEditModal(checkboxVal) {
        $('#isDefault').val(checkboxVal);
    }

    function setDefaultToCreateModal(checkboxVal){
        $('#isDefault1').val(checkboxVal);
    }

    $(document).ready(()=>{
        var err = '@error';
        if(err.length > 0){
            toastr.error(err);
        } 
    });
</script>

<style>
    .align-right {
        text-align: right;
        border: 0;
    }
</style>


