@using MyCRM.ViewModels;
@model ProjectViewModel

@{
    ViewData["Title"] = "Проекты";
}

<section class="content">
    <div class="container-fluid">
        <h1 class="display-4" style="text-align: center">Проекты</h1>
        <br>
        <div class="card">
            <div class="card-body">
                @if (User.IsInRole("Admin") || User.IsInRole("AddProject"))
                {
                    <div style="margin-bottom: 25px">
                        <a type="submit" class="btn btn-primary toRight" asp-action="Add">Создать</a>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-bordered table-hover m-0">
                        <thead style=" position: sticky; top:-1px; z-index:500;">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Название</th>
                                <th scope="col">Заказчик</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Создатель</th>
                                <th scope="col">Ответственный</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Projects != null && Model.Projects.Any())
                                foreach (var item in Model.Projects)
                                {
                                    <tr>
                                        <th>@item.Id</th>
                                        <td>
                                            @if (User.IsInRole("Admin") || User.IsInRole("WatchProject"))
                                            {
                                                <a asp-action="Watch" asp-route-id="@item.Id">@item.Name</a>
                                            }
                                            else
                                            {
                                                <a href="#">@item.Name</a>
                                            }
                                        </td>
                                        <td style="white-space: normal !important;word-wrap: break-word !important;">
                                            @if (User.IsInRole("Admin") || User.IsInRole("WatchContragent"))
                                            {
                                                <a asp-controller="Contragent" asp-action="Watch" asp-route-id="@item.Customer.Id">@item.Customer.Name</a>
                                            }
                                            else
                                            {
                                                <a href="#">@item.Customer.Name</a>
                                            }
                                        </td>
                                        <td style="white-space: normal !important;word-wrap: break-word !important;">@item.Description</td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("WatchUser"))
                                        {
                                            <td><a asp-controller="User" asp-action="Watch" asp-route-id="@item.Creator.Id">@item.Creator.GetShortName()</a></td>
                                            <td><a asp-controller="User" asp-action="Watch" asp-route-id="@item.Responsible.Id">@item.Responsible.GetShortName()</a></td>
                                        }
                                        else
                                        {
                                            <td><a href="#">@item.Creator.GetShortName()</a></td>
                                            <td><a href="#">@item.Responsible.GetShortName()</a></td>
                                        }
                                        <td>
                                            @if (User.IsInRole("Admin") || User.IsInRole("EditProject"))
                                            {
                                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            }
                                            else
                                            {
                                                <a href="#"  class="btn btn-outline-primary disabled">Edit</a>
                                            }
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
                <div class="align-right">

                    <div class="pagination" style="margin-top: 25px">
                        <a asp-controller="Project" asp-action="Index" asp-route-page="1">&laquo;</a>
                        @for (int i = Model.PaginationFilter.page - 2; i <= Model.PaginationFilter.page + 2; i++)
                        {
                            if (i > 0 && i <= Model.PaginationFilter.PageCount)
                            {
                                if (i != Model.PaginationFilter.page)
                                {
                                    <a asp-controller="Project" asp-action="Index" asp-route-page="@(i)">@(i)</a>
                                }
                                else
                                {
                                    <a class="active">@(i)</a>
                                }
                            }
                        }
                        <a asp-controller="Project" asp-action="Index" asp-route-page="@Model.PaginationFilter.PageCount">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .align-right {
        text-align: right;
        border: 0;
    }
</style>


